@font-face {
    font-family: 'FrederickaTheGreat Regular';
    src: url('FrederickatheGreat-Regular.eot');
    src: url('FrederickatheGreat-Regular.eot?#iefix') format('embedded-opentype'),
         url('FrederickatheGreat-Regular.woff2') format('woff2'),
         url('FrederickatheGreat-Regular.woff') format('woff'),
         url('FrederickatheGreat-Regular.ttf') format('truetype'),
         url('FrederickatheGreat-Regular.svg#fredericka_the_greatregular') format('svg');
    font-weight: normal;
    font-style: normal;
}