@media all{
    body{
        background: url('../shared/media/images/chalk.jpg') repeat;
    }
    div.wrapper div.hello{
        text-align: center;
        font-size: 70px;
        font-family: 'FrederickaTheGreat Regular', Arial, sans-serif;
        color: #ffffff;
    }
    div.wrapper div.hello span:nth-child(2){
        display:block;
        line-height: 70px;
        font-size: 100px;
    }
}

@media all and (max-width: 1024px){
    div.wrapper div.hello{
        font-size:50px;
    }
    div.wrapper div.hello span:nth-child(2){
        line-height: 60px;
        font-size: 80px;
    }
}

@media all and (max-width: 600px){
    div.wrapper div.hello{
        font-size:28px;
    }
    div.wrapper div.hello span:nth-child(2){
        line-height: 25px;
        font-size: 40px;
    }
}

@media all and (max-width: 300px){
    div.wrapper div.hello{
        font-size:20px;
    }
    div.wrapper div.hello span:nth-child(2){
        line-height: 20px;
        font-size: 26px;
    }
}